{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    ["@babel/plugin-proposal-class-properties"],
    [
      "module-resolver",
      {
        "alias": {
          "client": "./src/client",
          "server": "./src/server",
          "@modules/trips": "./src/server/modules/trips",
          "packages": "./packages",
          "root": "."
        }
      }
    ]
  ]
}
