{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "client": "./src/client",
          "server": "./src/server",
          "packages": "./packages",
          "root": "."
        }
      }
    ]
  ]
}
